$side-width: 600px;
.furniture-main, .architecture-main {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	background-color: white;
	// transform: translateZ(0);
	// z-index: 1;

	.bg-logo-wrapper {
		position: absolute;
		// transform: translateZ(0);
		width: 200px;
		height: 200px;
		top: 0;
		left: 400px;
		overflow: hidden;
		// z-index: 1;
		@media screen and (max-width: 800px) {
			left: initial;
			right: 0;
		}

	}
	.bg-logo {
		position: absolute;
		width: 300px;
		height: 300px;
		left: 0px;
		top: -100px;
		* {
			fill: rgba(black, 0.03);
		}
	}

	.left-sidebar {
		width: $side-width;
		padding: 140px 40px 20px 40px;
		box-sizing: border-box;
		border-right: 1px solid darken(white, 10%);
		@media screen and (max-width: 800px) {
			width: 100%;
		}

		h1 {
			font-size: 3.6rem;
			color: #606060;
			text-transform: uppercase;
			@media screen and (max-width: 600px) {
				font-size: 2.4rem;
			}
		}
		p {
			font-size: 1.6rem;
			line-height: 1.6em;
			letter-spacing: 2px;
			margin-bottom: 30px;
			@media screen and (max-width: 600px) {
				font-size: 1.2rem;
			}
		}
	}

	.article-seperator {
		height: 2px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 80%;
		background-color: $accent-color;

	}

	.chair-or-stuff {
		margin-bottom: 340px;
	}

	.image-preview {
		pointer-events: none;
		position: absolute;
		transform: translateZ(0);
		z-index: 100;
		right: 0;
		top: 0;
		bottom: 0;
		width: calc(100vw - #{$side-width});
		@media screen and (max-width: 800px) {
			display: none;
		}
	}

	.art-image {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.image-content {
		transition: 0.4s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	.shown-img {
		opacity: 1;
	}
	.furniture-images {
		.art1-image-content {
			background: url(/img/furniture/openarch/1.jpg) no-repeat center center;
			background-size: cover;
		}
		.art2-image-content {
			background: url(/img/furniture/frametable/1.jpg) no-repeat center center;
			background-size: cover;
		}
		.art3-image-content {
			background: url(/img/furniture/extrachair/1.jpg) no-repeat center center;
			background-size: cover;
		}
		.art4-image-content {
			background: url(/img/furniture/hangle/1.jpg) no-repeat center center;
			background-size: cover;
		}
	}
	.architecture-images {
		.art1-image-content {
			background: url(/img/architecture/room-for-reading/1.jpg) no-repeat center center;
			background-size: cover;
		}
		.art2-image-content {
			background: url(/img/architecture/interior-ekan/1.jpg) no-repeat center center;
			background-size: cover;
		}
		.art3-image-content {
			background: url(/img/architecture/satellit/1.jpg) no-repeat center center;
			background-size: cover;
		}
		.art4-image-content {
			background: url(/img/architecture/promiseland/1.jpg) no-repeat center center;
			background-size: cover;
		}
	}
	.show-image-article {
		opacity: 1;
	}

	.left-step-wrapper {
		z-index: 3;
		position: absolute;
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
		perspective: 1000px;
	}
	.left-step-button, .right-step-button {
		transition: 0.4s;
		opacity: 0.4;
		position: relative;
		border-radius: 100px;
		width: 60px;
		height: 60px;
		border: 3px solid $accent-color;
		background-color: white;
		cursor: pointer;
		pointer-events: initial;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			user-drag: none;
			pointer-events: none;
			width: 20px;
			height: 20px;
			* {
				fill: $accent-color;
			}
		}
	}
	.left-step-image, .right-step-image {
		position: absolute;
		transition: 0.4s;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		border-radius: 100px;
		background-color: red;
		pointer-events: none;
	}

	.left-step-button {
		margin-left: 20px;
		svg {
			transform: rotate(90deg);
		}
	}
	.left-step-button:hover {
		opacity: 1;
		.left-step-image {
			opacity: 1;
			transform: translateX(80px) scale(1.4);
		}
	}

	.right-step-wrapper {
		z-index: 3;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		perspective: 1000px;
	}
	.right-step-button {
		margin-right: 20px;
		svg {
			transform: rotate(-90deg);
		}
	}
	.right-step-button:hover {
		opacity: 1;
		.right-step-image {
			opacity: 1;
			transform: translateX(-80px) scale(1.4);
		}
	}
}

