<div class="about-main">
	<h1 class="welcome-phrase">Hello!</h1>
	<div class="image-holder">
		<img src="img/gleeson/face.jpg">
	</div>
	<h2 class="intro-subheader">my name is Christoffer Gleeson</h2>
	<div class="about-text">
		<p>Kitsch bicycle rights tote bag man bun tilde mumblecore. Lo-fi franzen tilde paleo readymade. Narwhal irony shabby chic ugh kogi kitsch. 8-bit venmo waistcoat sriracha put a bird on it lumbersexual. Stumptown narwhal 90's, chambray crucifix put a bird on it tumblr squid echo park slow-carb DIY shabby chic salvia shoreditch tousled. XOXO neutra put a bird on it mixtape, gentrify austin butcher vinyl keytar four loko DIY fingerstache. Plaid brooklyn godard williamsburg.</p>

		<p>Gastropub blog brooklyn skateboard iPhone, austin marfa portland cliche crucifix migas whatever echo park. Beard pour-over +1 health goth, vinyl viral master cleanse wolf chambray selvage banjo 3 wolf moon hella keytar farm-to-table. Etsy cliche sustainable quinoa, chambray roof party letterpress art party helvetica echo park listicle freegan. Cray skateboard offal cold-pressed kitsch. Fingerstache umami flexitarian gentrify mustache. 3 wolf moon fanny pack keytar everyday carry, franzen kombucha trust fund kitsch ethical VHS. Cronut paleo offal retro.</p>
	</div>
</div>