<section class="two-page">
	<section class="furniture half-two">
		<div class="front-header-wrapper">
			<h1>FRN</h1>
			<div class="front-header-seperator"></div>
			<h2>furniture</h2>
		</div>
		<a class="inner-furniture-link" href="#/furniture">
			<div class="inner-overlay-fade"></div>
			<div class="inner-furniture"></div>
		</a>
	</section>
	<section class="architecture half-two">
		<div class="front-header-wrapper">
			<h1>ARC</h1>
			<div class="front-header-seperator"></div>
			<h2>architecture</h2>
		</div>
		<a class="inner-architecture-link" href="#/architecture">
			<div class="inner-overlay-fade"></div>
			<div class="inner-architecture"></div>
		</a>
	</section>
</section>